* {
    margin: 0%;
    padding: 0%;
}

#container {
    display: grid;
    grid-template-rows: 3rem 6fr 5rem;
    grid-template-columns: 15rem 2fr;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
    height: 100vh;
    width: 100%;
}

#container > .header {
    grid-area: header;
    background-color: #f2e9de;
    display: block;
    justify-content: flex-end;
    padding: 1rem;
}

.header a{
    color: #286983;
    font-size: 18px;
    margin-right: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    float: right;
}

.header .navigation span:hover {
    background-color: #b4637a;
}

h1 {
    background-color: #f2e9de;
    color: #286983;
    text-decoration: underline;
    text-align: center;
    line-height: 100px;
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 0%;
}

.footer {
    grid-area: footer;
    background-color: #f2e9de;
    padding: 1rem;
    color: #286983;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f2e9de;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

.sidebar-button {
    background-color: #f2e9de;
    border: none;
    color: #286983;
    padding: 2rem;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
    font-weight: bolder;
}

.side-nav {
    background-color: #f2e9de;
    color: #286983;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

.content {
    grid-area: content;
    display: flex;
    background-color: #f2e9de;
    max-height: 600vh;
    max-width: 600vw;
    padding-left: 20rem;
}

.fas {
    grid-area: content;
    color: #286983;
    font-size: 30px;
}

#maintext {
    padding: 10px 20px;
    max-width: 600px;
}

[contenteditable] {
    font-size: 25px;
    color: #ea9a97;
}

[contenteditable] > div {
    font-size: 18px;
    color: #f2e9de;
}

[contenteditable] > div:first-child {
    color: #ea9a97;
    font-size: 25px;
}

[contenteditable]:focus {
    outline: none;
}

button {
    font-size: 18px;
    padding-top: 5px;
    margin: 8px 8px 0px 0px;
    border: none;
    background: #f2e9de;
    color: #59546d;
}

.dark-mode-button {
    background:0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
    border: 1px solid rgba(255,255,255,0);
}

.dark-mode-button:focus {
    outline:none;
}

.dark-mode-button span:nth-child(1) {
    position: absolute;
    top:0;
    left:0;
    width: 100px;
    height:40px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .2s;
}

.dark-mode-button span:nth-child(2) {
    position: absolute;
    top:5px;
    left:5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .2s;
}

body {
    background-color: #f6f6f6;
    transition: background-color .3s;
}

body[dark-mode=dark] {
    background-color: #191724;
    color: #c4a7e7;
}

body[dark-mode="dark"] .dark-mode-button span:nth-child(1){
    background-color: #c4a7e7;
    color: #141516;
}

body[dark-mode=dark] .dark-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #191724;
}

@media screen and (max-height: 720px) {

    .container {
        display: grid;
        grid-template-rows: 5rem 1fr 5rem;
        grid-template-areas:
            'header header'
            'sidebar sidebar'
            'content content'
            'footer footer';
        height: 100vh;
        width: 100vw;
    }
    
    .sidebar {
        display: flex;
        justify-content: center;
    }

    .sidebar-button {
        background-color: #f2e9de;
        border: none;
        color: #286983;
        padding: none;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-family: 'Raleway', sans-serif; 
        font-size: 25px;
        font-weight: bolder;
    }

    content {
        grid-area: content;
        display: flex;
        background-color: #f2e9de;
        max-height: 600vh;
        max-width: 600vw;
        padding-left: 20rem;
    }
    
    .fas {
        grid-area: content;
        color: #286983;
        font-size: 30px;
    }
    
    #maintext {
        padding: 10px 20px;
        max-width: 600px;
    }
    
    [contenteditable] {
        font-size: 25px;
        color: #ea9a97;
    }
    
    [contenteditable] > div {
        font-size: 18px;
        color: #f2e9de;
    }
    
    [contenteditable] > div:first-child {
        color: #ea9a97;
        font-size: 25px;
    }
    
    [contenteditable]:focus {
        outline: none;
    }
    
    button {
        font-size: 18px;
        padding-top: 5px;
        margin: 8px 8px 0px 0px;
        border: none;
        background: #f2e9de;
        color: #59546d;
    }
    
    .dark-mode-button {
        background:0;
        border: 0;
        box-sizing: border-box;
        cursor: pointer;
        height: 40px;
        width: 100px;
        position: relative;
        border: 1px solid rgba(255,255,255,0);
    }
    
    .dark-mode-button:focus {
        outline:none;
    }
    
    .dark-mode-button span:nth-child(1) {
        position: absolute;
        top:0;
        left:0;
        width: 100px;
        height:40px;
        border-radius: 20px;
        background-color: #d6d7db;
        box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
        transition: .2s;
    }
    
    .dark-mode-button span:nth-child(2) {
        position: absolute;
        top:5px;
        left:5px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
        transition: .2s;
    }
    
    body {
        background-color: #f6f6f6;
        transition: background-color .3s;
    }
    
    body[dark-mode=dark] {
        background-color: #191724;
        color: #c4a7e7;
    }
    
    body[dark-mode="dark"] .dark-mode-button span:nth-child(1){
        background-color: #c4a7e7;
        color: #141516;
    }
    
    body[dark-mode=dark] .dark-mode-button span:nth-child(2) {
        left: 65px;
        background-color: #191724;
    }
}
/* Mobile Devices Size */

@media screen and (max-height: 1024px) {

    .container {
        display: grid;
        grid-template-rows: 5rem 1fr 5rem;
        grid-template-areas:
            'header header'
            'sidebar sidebar'
            'content content'
            'footer footer';
    }
    
    .sidebar {
        display: flex;
        justify-content: center;
    }

    .sidebar-button {
        background-color: #f2e9de;
        border: none;
        color: #286983;
        padding: none;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-family: 'Raleway', sans-serif; 
        font-size: 25px;
        font-weight: bolder;
    }
    
    content {
        grid-area: content;
        display: flex;
        background-color: #f2e9de;
        max-height: 600vh;
        max-width: 600vw;
        padding-left: 20rem;
    }
    
    .fas {
        grid-area: content;
        color: #286983;
        font-size: 30px;
    }
    
    #maintext {
        padding: 10px 20px;
        max-width: 600px;
    }
    
    [contenteditable] {
        font-size: 25px;
        color: #ea9a97;
    }
    
    [contenteditable] > div {
        font-size: 18px;
        color: #f2e9de;
    }
    
    [contenteditable] > div:first-child {
        color: #ea9a97;
        font-size: 25px;
    }
    
    [contenteditable]:focus {
        outline: none;
    }
    
    button {
        font-size: 18px;
        padding-top: 5px;
        margin: 8px 8px 0px 0px;
        border: none;
        background: #f2e9de;
        color: #59546d;
    }
    
    .dark-mode-button {
        background:0;
        border: 0;
        box-sizing: border-box;
        cursor: pointer;
        height: 40px;
        width: 100px;
        position: relative;
        border: 1px solid rgba(255,255,255,0);
    }
    
    .dark-mode-button:focus {
        outline:none;
    }
    
    .dark-mode-button span:nth-child(1) {
        position: absolute;
        top:0;
        left:0;
        width: 100px;
        height:40px;
        border-radius: 20px;
        background-color: #d6d7db;
        box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
        transition: .2s;
    }
    
    .dark-mode-button span:nth-child(2) {
        position: absolute;
        top:5px;
        left:5px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
        transition: .2s;
    }
    
    body {
        background-color: #f6f6f6;
        transition: background-color .3s;
    }
    
    body[dark-mode=dark] {
        background-color: #191724;
        color: #c4a7e7;
    }
    
    body[dark-mode="dark"] .dark-mode-button span:nth-child(1){
        background-color: #c4a7e7;
        color: #141516;
    }
    
    body[dark-mode=dark] .dark-mode-button span:nth-child(2) {
        left: 65px;
        background-color: #191724;
    }
}
/* Small Screens & Laptops Size */